    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #222;
        color: white;
    }  



.controls {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    margin: 50px auto 10px auto;

}
.thumbnails{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.thumb-pic {
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    filter: brightness(30%);
    cursor: pointer;
}

.thumb-active {
    filter: brightness(100%);
    border: 1px solid lime;
}


.pic-wrapper {
    position: relative;
}
.pic {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.number {
    position: absolute;
    left: 62%;
    top: 69%;
    background-color: teal;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    
}